/* hier style ik me formulier */
form {
  margin-left: 5rem;
  color:rgb(255, 255, 255);
}
.form {
  height: 300px;
  width: 300px;
  background-color: rgb(7, 7, 7);
  margin-left: 45px;
  margin-top: 8rem;
  border-radius: 35px;
}
/* hier style ik me button van me formulier*/
button {
  height: 85px;
  width: 85px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}
button:hover {
  background-color: red;
  height: 50px;
  width: 100px;
  transition-duration: 0.5s;
}

#email {
  margin-left: 5rem;
  font-size: 4rem;
}
form {
  margin-left: 3rem;
  color: white;
}
#small-form {
  display: none;
}
#formulier{
margin-top: 5rem;
}
.contactknop{
  font-size: 20px;
}
