/* hier maak ik mijn imagine van me hoofdpagina goed */
.imgman img {
    height: 500px;
    width: 400px;
   /*hier maak ik de tekst op mijn hoofdpagina goed  */
 }
.teksthoofdpagina {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .teksthoofdpagina h1 {
    margin: 8rem;
    font-size: 3rem;
  }
